<p id="notice"><%= notice %></p>

<p>
  <strong>Deptdate:</strong>
  <%= @seat.deptdate %>
</p>

<p>
  <strong>Tname:</strong>
  <%= @seat.tname %>
</p>

<p>
  <strong>Seat1:</strong>
  <%= @seat.seat1 %>
</p>

<p>
  <strong>Seat2:</strong>
  <%= @seat.seat2 %>
</p>

<p>
  <strong>Seat3:</strong>
  <%= @seat.seat3 %>
</p>

<p>
  <strong>Trainroute:</strong>
  <%= @seat.trainroute_id %>
</p>

<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
