<% if can? :create  , @trainroute %>
<%= link_to 'Add Route', new_trainroute_path , class:"add_btn" , style:"margin-left:40px; margin-top:5px;"%>
<% end %>
<br>
<h1 class="w3-center">Trains Schedule</h1>

<div class="tablecenter">
<%= search_form_for @q do |f| %>

<div class="field-wrap1">
<%= f.label :source %>
  <%= f.search_field :source_cont %>
</div>
  

<div  class="field-wrap2">
<%= f.label :destination %>
  <%= f.search_field :destination_cont%>
</div>
  
  <%= f.submit "Search" ,class:"search_btn" %>
<% end %>

<br>
<table id="customers">
  <thead>
    <tr>
      <th>Route ID</th>
      <th>Train Name</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Distance</th>
      <th>Deptdate</th>
      <th>Arrivaldate</th>
      <th>Deptime</th>
      <th>Arrivaltime</th>
      <th>Available seats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainroutes.each do |trainroute| %>
      <tr>
        <td><%= trainroute.id %></td>
        <td><%= trainroute.name %></td>
        <td><%= trainroute.source %></td>
        <td><%= trainroute.destination %></td>
        <td><%= trainroute.distance %></td>
        <td><%= trainroute.deptdate %></td>
        <td><%= trainroute.arrivaldate %></td>
        <td><%= trainroute.deptime %></td>
        <td><%= trainroute.arrivaltime %></td>
      <td><%= trainroute.totalseat%></td>


        <% if can? :update , @trainroute %>
        <td><%= link_to 'Edit', edit_trainroute_path(trainroute),class:"admin_btn" %></td>
        <%end%>

         <% if can? :destroy , @trainroute %>
         <td><%= link_to 'Destroy', trainroute, class:"admin_btn",method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>


        <td><%= link_to 'Book' ,new_reservation_path(trainroute) , class:"admin_btn" %></td>

       
        
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>