
<h1 class="w3-center"> Trains</h1>
<div class="tablecenter">
<table  id="customers"> 
  <thead>
    <tr>
      <th>Train Id</th>
      <th>Name</th>
      <th>Train Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trains.each do |train| %>
      <tr>
        <td><%= train.id %></td>
        <td><%= train.name %></td>
        <td><%= train.traintype %></td>
        <td><%= link_to 'Edit', edit_train_path(train) ,class:"contact_btn" %></td>
        <td><%= link_to 'Destroy', train, method: :delete, data: { confirm: 'Are you sure?' },class:"contact_btn" %></td>
        <td><%= link_to 'New Train', new_train_path , class:"contact_btn"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


