<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      
      <div class="row">
        <div class="col-sm-12">
          <div id="map-container">
        <div id="map-canvas"></div>
          <% for_for(@page) do |f|%>
          <div id="geocoding_fields">
            <%= f.text_field :pages, :source, :id => 'search_box_geocoding', class: 'search_box' %>
            <%= f.text_field :pages, :destination, :id => 'search_box1_geocoding', class: 'search_box' %>
            <%= f.button "Search", id: "submit_button_geocoding", data: { disable_with: "Please wait..." }, class: "submit_button" %> 
  </div>
 
        </div>     
      </div>  
      
    </div>

 
</body>
</html>





  
 